.list-action-buttons {
    padding-bottom: 20px;
  }
  
  .list-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .list-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}